@page "/"
@using ChaoticComponents;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<ChaoticBaseComponent>
    <h1>Hello</h1>
</ChaoticBaseComponent>


<SurveyPrompt Title="How is Blazor working for you?" />
